RewriteEngine On

# Allow assets and files
RewriteRule ^assets/ - [L]

# React SPA fallback
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /qrcode/index.html [L]
